.burger-button__container {
  width: 100%;
  max-width: 462px;
  display: flex;
  flex-direction: row-reverse;
}

.burger-button {
  width: 22px;
  height: 23px;
  margin: 8px 2px 0 0;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 50;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  z-index: 50;
}

.burger-button::before {
  content: "";
  width: 28px;
  height: 3px;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease 0s;
}

.burger-button::after {
  content: "";
  width: 28px;
  height: 3px;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease 0s;
}

.burger-button::before {
  width: 22px;
  top: 0;
}

.burger-button::after {
  width: 22px;
  bottom: 0;
}

.burger-span {
  width: 100%;
  height: 3px;
  transform: scale(1);
  background-color: rgba(255, 255, 255, 1);
}

.burger-span_type_active {
  transform: scale(0);
}

.burger-button_type_active {
  width: 22px;
  height: 23px;
}

.burger-button_type_active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -70%);
}

.burger-button_type_active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 70%);
}

.burger-navigation {
  background: none;
}

.burger-navigation_type_active {
  width: 68%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background: rgba(32, 32, 32, 1);
  box-sizing: border-box;
  overflow: hidden;
  padding: 18px 27.16px 92px;
  right: 0;
  top: 0;
  z-index: 50;
}

.burger-menu__links {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-row: 2;
  list-style: none;
  margin: 0;
  padding: 112px 0 620px;
  row-gap: 28px;
}

.burger-menu__links_type_account {
  padding: 0;
  flex-direction: row;
  grid-row: none;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
}

.burger-menu__link {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.burger-menu__link_type_account {
  padding: 11px;
  font-size: 13px;
  line-height: 12px;
}

.burger-menu__link-icon {
  width: 26px;
  height: 26px;
  background-color: rgba(49, 49, 49, 1);
  background-image: url("../../image/icon-main.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 11.38px 11.67px;
  border-radius: 50px;
}

@media screen and (max-width: 800px) {
  .burger-button {
    width: 40px;
    height: 23px;
    margin: 8px 2px 0 0;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 50;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    z-index: 50;
  }

  .burger-button::before {
    content: "";
    width: 28px;
    height: 3px;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease 0s;
  }

  .burger-button::after {
    content: "";
    width: 28px;
    height: 3px;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease 0s;
  }

  .burger-button::before {
    width: 28px;
  }

  .burger-button::after {
    width: 28px;
  }
}

@media screen and (max-width: 400px) {
  .burger-button {
    width: 34px;
    height: 21px;
    margin: 9px 3px 0 0;
  }

  .burger-button::before {
    width: 22px;
  }

  .burger-button::after {
    width: 22px;
  }
  .burger-navigation_type_active {
    width: 100%;
  }
}
