.footer {
  box-sizing: border-box;
  background: #202020;
}

.footer__title {
  margin: 0;
  padding: 80px 0 20px 0;
  text-align: center;
  color: #8b8b8b;
}

.footer__container {
  max-width: 1280px;
  padding: 0 70px;
  margin: 0 auto;
  font-size: 13px;
  box-sizing: border-box;
}

.footer__nav {
  display: flex;
  gap: 20px;
}

.footer__wrapper {
  padding: 20px 0;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  border-top: 1px solid #424242;
  color: white;
}

.footer__date {
  margin: 0;
}

.footer__link {
  color: white;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .footer__container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 550px) {
  .footer__container {
    padding: 0 14px;
  }
}

@media screen and (max-width: 350px) {
  .footer__container {
    padding: 0 10px;
  }

  .footer__title {
    font-size: 12px;
    line-height: normal;
  }

  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .footer__link {
    width: 100%;
    flex-shrink: 0;
  }

  .footer__nav {
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 12px;
    text-align: center;
  }

  .footer__date {
    text-align: center;
    font-size: 12px;
    color: #8b8b8b;
  }
}
